.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.support-trafic-light{
    background-color: black;
    width: 15px;
    height:60px
}

.light-container{
    background-color: black;
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

.light{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px
}

.light.red{
    background-color: red;
}

.light.red.active{
    box-shadow: 0px 0px 35px 10px #ef1b1b;
}

.light.yellow{
    background: yellow;
}

.light.yellow.active{
    box-shadow: 0px 0px 35px 10px #fbff00;
}

.light.green{
    background-color: green;
}

.light.green.active{
    box-shadow: 0px 0px 35px 10px #088001;
}

.light.purple{
    background-color: purple;
}

.light.purple.active{
    box-shadow: 0px 0px 35px 10px #d334c5;
}